{{> header }}

<div class="row">
    <div class="col-lg-8 col-xlg-6 col-md-5">
        <div class="row">
            {{#each administradores}}
                <div class="col-lg-6 col-xlg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30"> <img src="public/assets/images/users/{{this.imagen}}" class="rounded-circle" width="150" />
                                <h4 class="card-title m-t-10">{{this.nombre}}</h4>
                            </center>
                            <div style="float:right">
                                <a href="editar-admin/{{this._id}}" class="transparentar"><i class="mdi mdi-lead-pencil"></i></a>
                                <a href="eliminar-admin/{{this._id}}" class="transparentar"><i class="mdi mdi-delete"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-4 col-xlg-6 col-md-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registrate</h4> <hr>
                <form class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">Nombre completo</label>
                        <div class="col-md-12">
                            <input type="text" id="nombre-reg" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Password</label>
                        <div class="col-md-12">
                            <input type="password" id="clave-reg" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Imágen</label>
                        <input type="file" class="form-control-file" id="img-reg">
                    </div>
                    <div class="container preview-card" style="display:none; margin-bottom: 20px;">
                        <img class="img-fluid" id="admin-img-prev" src="" alt="No hay vista previa">
                    </div>
                    <input type="button" class="btn btn-success" id="btn-reg" value="Registrame">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer }}