{{> header }}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Actualiza la información</h3>
                <form class="form-horizontal form-material">
                    <div class="row">
                        <div class="col-lg-8 col-xlg-8 col-md-7">
                            <input id="id-reg" type="text" value="{{administrador._id}}" style="display: none">
                            <div class="form-group">
                                <label class="col-md-12">Nombre completo</label>
                                <div class="col-md-12">
                                    <input type="text" id="nombre-reg" class="form-control form-control-line" value="{{administrador.nombre}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" id="clave-reg" class="form-control form-control-line" value="{{administrador.clave}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xlg-4 col-md-5">
                            <div class="form-group">
                                <label class="col-md-12">Imágen</label>
                                <input type="file" class="form-control-file" id="img-reg">
                            </div>
                            <div class="container preview-card" style="margin-bottom: 20px;">
                                <img class="img-fluid" id="admin-img-prev" src="/public/assets/images/users/{{administrador.imagen}}" alt="No tienes imágen">
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-success" id="btn-guardar" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer}}