<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    {{#if sesion }}
                        <!-- User Profile-->
                        <div class="user-profile d-flex no-block dropdown m-t-20">
                            <div class="user-pic"><img src="/public/assets/images/users/{{sesion.imagen}}" alt="users" class="rounded-circle" width="40" /></div>
                            <div class="user-content hide-menu m-l-10">
                                <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <h5 class="m-b-0 user-name font-medium">{{sesion.nombre}}<i class="fa fa-angle-down"></i></h5>
                                    <span class="op-5 user-email">Administrador</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                    <a class="dropdown-item" href="/editar-admin/{{sesion._id}}"><i class="ti-user m-r-5 m-l-5"></i>Editar perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/cerrar-sesion"><i class="fa fa-power-off m-r-5 m-l-5"></i>Cerrar sesión</a>
                                </div>
                            </div>
                        </div>
                        <!-- End User Profile-->
                    {{else}}
                        <!-- User Profile-->
                        <div class="user-profile d-flex no-block dropdown m-t-20">
                            <div class="user-pic"><img src="/public/assets/images/users/1.jpg" alt="users" class="rounded-circle" width="40" /></div>
                            <div class="user-content hide-menu m-l-10">
                                <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <h5 class="m-b-0 user-name font-medium">Usuario<i class="fa fa-angle-down"></i></h5>
                                    <span class="op-5 user-email">Cliente</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                    <a class="dropdown-item" href="/login"><i class="ti-user m-r-5 m-l-5"></i>Soy administrador</a>
                                </div>
                            </div>
                        </div>
                        <!-- End User Profile-->
                    {{/if}}
                    
                </li>
                <hr>
                <!-- User Profile-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/administradores" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">Administradores</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/inventario" aria-expanded="false"><i class="mdi mdi-archive"></i><span class="hide-menu">Inventario</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/estadisticas" aria-expanded="false"><i class="mdi mdi-table-large"></i><span class="hide-menu">Estadísticas</span></a></li>
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>